.search-box{
    width: 60%;
    box-shadow: 4px 4px 8px gray;
    border-radius: 18px;
}

.search-btn{
    width: 95px;
    box-shadow: 4px 4px 4px gray;
}

.card{
    width: 400px;

    /* text-align: center; */
    box-shadow: 4px 4px 8px gray;
}

.food-img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

